[Unit]
Description=MTranServer Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/path/to/mtranserver # 注意修改配置
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
